# Build folders
bin/
obj/

# Allure outputs
allure-results/
allure-report/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.nupkg

# Test results
TestResult*/
*.trx

# OS junk
Thumbs.db
.DS_Store

# Logs
*.log
*.tmp
